.about__title {
  color: #2f2926;
  font-family: "PT Serif", serif;
  font-size: 2.625rem;
  font-weight: 700;
  margin: 0;
}

.about__paragraph {
  color: #2f2926;
  font-family: "Work Sans", sans-serif;
}

.about__paragraph--bold {
  font-weight: 600;
}

.owner__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.owner__image {
  background-color: rgb(202, 202, 202);
  border-radius: 50%;
  height: 74px;
  width: 74px;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.owner__name {
  color: #2f2926;
  font-family: "PT Serif", serif;
  font-size: 1.5rem;
  margin: 0;
}

.owner__subtitle {
  color: #2f2926;
  font-family: "Work Sans", sans-serif;
  margin: 0;
}
