.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  height: 100vh;
  background-color: #e5674e;
  text-align: center;
  color: #ffffff;
}

.status__ordernumber {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  & span {
    font-weight: 700;
  }
}

.status__heading {
  font-size: 2.25rem;
  font-family: "PT Serif", serif;
  margin: 0;
  font-weight: 700;
  max-width: 275px;
}

.status__time-left {
  font-size: 1.375rem;
  font-family: "Work Sans", sans-serif;
  & span {
    font-weight: 700;
  }
}

.status__ok-button {
  font-family: "PT Serif", serif;
  color: #2f2926;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #ffffff;
  border-radius: 50px;
  padding: 0.75rem 2.5rem;
}
